[submodule "0x01-shell_permissions/0x01-shell_permissions/alx-system_engineering-devop"]
	path = 0x01-shell_permissions/0x01-shell_permissions/alx-system_engineering-devop
	url = https://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@github.com/Adeelizabeth/alx-system_engineering-devops.git
